<h1>Editing playermatchstate</h1>

<%= render "form", playermatchstate: @playermatchstate %>

<br>

<div>
  <%= link_to "Show this playermatchstate", @playermatchstate %> |
  <%= link_to "Back to playermatchstates", playermatchstates_path %>
</div>
